{% extends "base.html" %}

{% block content %}
<h2 class="mb-4">Добавить банку для рейса: {{ trip.boat.name }} ({{ trip.departure_date }})</h2>

<form method="POST" class="card p-4 shadow-sm">

    <div class="mb-3">
        <label class="form-label">Название банки</label>
        <input type="text" name="bank_name" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Дата прихода</label>
        <input type="date" name="arrival_date" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Дата отплытия</label>
        <input type="date" name="departure_date" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Качество улова</label>
        <select name="fish_quality" class="form-select" required>
            <option value="excellent">Отличное</option>
            <option value="good">Хорошее</option>
            <option value="bad">Плохое</option>
        </select>
    </div>

    <button class="btn btn-success">Сохранить</button>
</form>
{% endblock %}
